In [1]:
import pandas as pd
from spark_session import LocalSparkSession
from dataset import Dataset
from mr_id3 import MapReduceIDR3
from pyspark.mllib.tree import DecisionTree, DecisionTreeModel
from crossvalidation_sklearn import CrossValidationSkLearn

In [2]:
num_fields = [
    'age', 'fnlwgt', 'education_num', 'capital_gain', 'capital_loss',
    'hours_per_week', ]

categorical_fields = [
    'workclass', 'education',
    'marital_status', 'occupation', 'relationship',
    'race', 'sex', 'native_country', ]

In [3]:
target = 'label'
filename = '/Users/marcelovasconcellos/PycharmProjects/8INF919_Devoir1_Classification-distribuee-par-arbre-de-decision/dataset/adult.data'

In [4]:
clusters = [4, ]  # list(range(1, 2))
multiply = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]  # list(range(1, 2))
metrics = []

In [5]:
spark = LocalSparkSession(4)
spark.start()

22/10/12 16:31:14 WARN Utils: Your hostname, Mac-Pro-de-MARCELO.local resolves to a loopback address: 127.0.0.1; using 192.168.0.62 instead (on interface en2)
22/10/12 16:31:14 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/12 16:31:14 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
%time
dataset = Dataset(spark.spark, filename, num_fields, categorical_fields, target)
dataset.load()
dataset.one_hot_encode_categorical_fields()
dataset.multiply_dataset(1)

2022-10-12 16:31:16,469 [INFO] Dataset : Starting
2022-10-12 16:31:16,471 [INFO] Dataset : Loading Dataset /Users/marcelovasconcellos/PycharmProjects/8INF919_Devoir1_Classification-distribuee-par-arbre-de-decision/dataset/adult.data

CPU times: user 4 µs, sys: 2 µs, total: 6 µs
Wall time: 10 µs

In [7]:
dataset.df.toPandas().head()

22/10/12 16:31:29 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

,label,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,workclass_self_emp_not_inc,workclass_local_gov,workclass_state_gov,...,native_country_england,native_country_haiti,native_country_poland,native_country_portugal,native_country_unknown,native_country_columbia,native_country_scotland,native_country_hungary,native_country_vietnam,native_country_trinadad&tobago
0,0,39,77516,13,2174,0,40,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,50,83311,13,0,0,13,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,38,215646,9,0,0,40,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,53,234721,7,0,0,40,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,28,338409,13,0,0,40,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
%time
crossvalidation = CrossValidationSkLearn(dataset)
crossvalidation.set_x_y()

2022-10-12 16:31:38,090 [INFO] MapReduceIDR3 : Starting

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 5.96 µs

In [9]:
%time
crossvalidation.train()

CPU times: user 2 µs, sys: 1e+03 ns, total: 3 µs
Wall time: 5.96 µs